<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="navigateToSearchPage()">
        <ion-icon name="search-outline" slot="icon-only"></ion-icon>
    </ion-button>
      <ion-button class="cart" (click)="navigateToCartPage()">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-badge color="light" slot="end">{{cartItemsLength}}</ion-badge>
  </ion-toolbar>
</ion-header>