<app-header-prod-detail></app-header-prod-detail>

<ion-content>
  <div *ngIf="product && product.list_images.length > 0">
    <swiper-container #swiper [modules]="swiperModules" [slidesPerView]="1.2" [initialSlide]="1" [centeredSlides]="true"
      [autoplay]="true" [spaceBetween]="20" [pagination]="{clickable: true, dynamicBullets: true}">
      <!-- effect="flip" -->
      <swiper-slide *ngFor="let i of product?.list_images">
        <img [src]="i?.path_image" alt="kun" />
      </swiper-slide>
    </swiper-container>
  </div>

  <ion-item-divider></ion-item-divider>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <h2>{{ product?.name_product }}</h2>
            </ion-card-title>
            <ion-card-subtitle>
              <div class="rating" *ngIf="product?.star_review !== undefined">
                <!-- Hiển thị số sao đánh giá dưới dạng các ngôi sao đầy -->
                <span *ngFor="let star of getStars(product?.star_review)">&#9733;</span>
              </div>
              <h6>Hãng: {{product?.brand?.name_brand}}
              </h6>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-text>
              <p>Giá niêm yết: {{ product?.listed_price | currency:"VND" }}</p>
            </ion-text>
            <ion-text>
              <p>Giá khuyến mãi: {{ product?.promotional_price | currency:"VND" }}</p>
            </ion-text>
            <ion-item>
              <ion-select label="Chọn Size" justify="start" placeholder="xxx" ng-model="selectedSize"
                (ionChange)="handleWhenSelectSizeChange($event)">
                <ion-select-option *ngFor="let size of product?.list_size" [value]="size">{{ size.name_size
                  }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar style="padding: 0 10px;">
    <ion-label>
      <ion-button (click)="addToCart(product)" color="tertiary " expand="full" fill="solid">
        Thêm Vào Giỏ Hàng
      </ion-button>
    </ion-label>
  </ion-toolbar>
</ion-footer>