div {
    margin-top: 100px;
    height: 22vh;

    swiper-container {
        swiper-slide {
            height: 25vh;

            img {
                width: 100%;
                height: 90%;
                border-radius: 5px;
                box-shadow: -1px 11px 13px -6px rgb(87, 86, 86);
            }
        }
    }
}

ion-badge {
    margin-right: 20px;
    position: absolute;
    right: 0;
    top: 10px;
  }
  
  ion-icon[name="cart-outline"] {
    color: rgba(231, 143, 78, 0.74);
  }
  
  ion-buttons[slot="end"] > ion-button.cart {
    margin-right: 20px;
  }
  
  ion-buttons[slot="primary"] {
    width:100%;
    display: flex;
    justify-content: space-between;
  
    ion-button {
      flex: 1;
    }
  }
