<app-header></app-header>

<ion-content [fullscreen]="true" style="position: relative;">
 
  <ion-toolbar style="position: fixed; top: 58px;">
    <ion-buttons slot="primary">
      <ion-button color="dark" expand="block" fill="clear">
        <ion-icon name="funnel-outline" slot="end"></ion-icon>
        Tìm kiếm
      </ion-button>
      <ion-button color="dark" expand="block" fill="clear">
        <ion-icon name="filter-outline" slot="end"></ion-icon>
        Lọc
      </ion-button>
    </ion-buttons>
  </ion-toolbar> 
  
  <app-banner></app-banner>
  
</ion-content>