<app-header></app-header>

<ion-content [fullscreen]="true" style="position: relative;">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card *ngFor="let item_cart of carts">
          <ion-card-header>
            <ion-card-title class="ion-text-left">
              {{ item_cart?.product?.name_product }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-thumbnail slot="start" style="width:120px; height: auto;">
                <ion-img *ngIf="item_cart?.product?.list_images && item_cart.product.list_images.length > 0" [src]="item_cart.product.list_images[0].path_image" style="width:120px; height: auto;"></ion-img>
              </ion-thumbnail>
              <ion-text slot="end" class="price-inner">
                <h3>Giá: {{ item_cart?.price | currency:'VND'}}</h3>&nbsp;&nbsp;
              </ion-text>
            </ion-item> 
            <ion-item lines="none">
              <ion-button slot="end" color="tertiary">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-button>
            </ion-item>         
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>