.empty-cart-message {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    height: 100vh; /* Chiều cao bằng cả màn hình */
}

// .fixed-cart {
//     position: fixed;
//     bottom: 0;
//     width: 100%; /* Đảm bảo phần tử này có chiều rộng bằng 100% của trang */
// }

    